global:
  postgresql:
    auth:
      username: "admin"
      database: "userdb"

auth:
  postgresPassword: "postgres-password"
  username: "user"
  password: "password"
  database: "userdb"

primary:
  service:
    type: ClusterIP
    ports:
      postgresql: 5432
  persistence:
    enabled: true
    size: 1Gi